@tailwind base;
@tailwind components;
@tailwind utilities;

.reset {
  html {
    box-sizing: content-box;
  }

  body {
    margin: 8px;
    line-height: normal;
    word-wrap: break-word;
  }

  hr {
    border: 1px inset;
    box-sizing: border-box;
    margin: 0.5em auto;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.17em;
  }

  h4 {
    font-size: 1em;
  }

  h5 {
    font-size: 0.83em;
  }

  h6 {
    font-size: 0.67em;
  }

  .quote{
    @apply bg-blue-100 border-l-4 border-blue-500 pl-5 py-2 flex flex-col gap-2;
    .text{
      @apply text-xl;
    }
    .author{
      @apply italic font-medium;
    }
  }

  .warning{
    @apply bg-yellow-100 border-l-4 border-yellow-500 pl-5 py-2 flex flex-col gap-2;
    .upper{
      @apply flex gap-1 text-xl font-semibold;
    }
  }

  a{
    text-decoration: underline;
  }

  figure.img{
    @apply flex flex-col gap-2 items-center;
    img{
      @apply w-96 rounded-md;
    }
    figcaption{
      @apply italic;
    }
  }

  .checklist-item , .list-item{
    @apply list-none flex gap-1 items-center;
  }

  .inline-code{
    @apply text-sm;
  }

  q {
    quotes: "“" "”" "‘" "’";

    &:before {
      content: open-quote;
    }

    &:after {
      content: close-quote;
    }
  }

  .hljs{
    @apply px-5 py-2 overflow-scroll;
  }
}
